.header__logo {
  display: block;
  background-size: cover;
  width: 146px;
  height: 34px;
  background-image: url("../../../images/logo__mesto.svg");
}

@media screen and (max-width: 686px) {
  .header__logo {
    width: 103px;
    height: 24px;
    background-image: url("../../../images/logo__mesto.svg");
    margin-left: 30px;
  }
}
